{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand hvr-icon-spin" href="{{url_for('home')}}" style="border-bottom: none;">
      <img src="{{ url_for('static', filename='images/favicon.ico')}}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top hvr-icon">
      Mike Freno</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mt-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('home')}}" style="border-bottom: none;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('projects')}}" style="border-bottom: none;">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('blog')}}" style="border-bottom: none;">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('contact')}}" style="border-bottom: none;">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: none;">
            {% if logged_in: %}
              <div class="accountImage me-auto">
                {% if user.profile_picture==None %}
                  <img src="{{ user.email | gravatar }}"/><br>
                {% else %}
                  <img src="../{{ user.profile_picture }}" class="accountImageCropped"/><br>
              {% endif %}
              </div>{% endif %}
            {% if not logged_in: %}Login/Register{% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% if not logged_in: %}
            <li><a class="dropdown-item" href="{{url_for('login')}}">Login</a></li>
            <li><a class="dropdown-item" href="{{url_for('register')}}">Register</a></li>
            {% endif %}
            {% if logged_in: %}
            <li><h6 class="dropdown-header">@{{ user.name }}</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('settings')}}">Account Settings</a></li>
            <li><a class="dropdown-item" href="{{url_for('user_page', user_id=current_user.id)}}">My Page</a></li>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>

<div class="container text-left">
    <h3 class="major">Contact</h3>
    <p>Reach out to me and I will get back to you as soon as I can!</p>
    <form class="needs-validation" id='contact' action="" method="post" novalidate>
        {{ form.csrf_token() }}
        <div class="row justify-content-md-left">
            <div class="col col-lg-3">
              {{ form.name.label }}
              {%  if logged_in: %}
                <input type="text" class="form-control" name="name" value="{{user.name.replace('_',' ')}}" style="color:white;background-color:rgba(27, 31, 34, 0.85)" required>
                <div class="invalid-feedback">Please include your name.</div>
              {% else: %}
                <input type="text" class="form-control" name="name" placeholder="John Doe" style="color:white;background-color:rgba(27, 31, 34, 0.85)" required>
                <div class="invalid-feedback">Please include your name.</div>
              {% endif %}
            </div>
            <div class="col-lg-4">
              {{ form.email.label }}
              {%  if logged_in: %}
                <input type="email" class="form-control" name="email" value="{{user.email}}" style="color:white;background-color:rgba(27, 31, 34, 0.85)" required>
                <div class="invalid-feedback">Please use a valid email address.</div>
              {% else: %}
                <input type="email" class="form-control" name="email" placeholder="name@example.com" style="color:white;background-color:rgba(27, 31, 34, 0.85)" required>
                <div class="invalid-feedback">Please use a valid email address.</div>
              {% endif %}
            </div>
        </div>
        <br>
        <div class="row justify-content-md-left">
          <div class="col-lg-8">
              {{ form.message.label }}
            <textarea class="form-control" name="message" rows="3" style="color:white;background-color:rgba(27, 31, 34, 0.85)" required></textarea>
            <div class="invalid-feedback">Please include a message.</div>
          </div>
        </div>
        <br>
        <div class="row justify-content-md-left">
          <div class="col-2">
            {{ form.submit }}
        </div>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       {% for message in messages %}
       <h4 style="color:white">{{ message }}</h4>
       {% endfor %}
      {% endif %}
    {% endwith %}
</div>

{% include "footer.html" %}