{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}" style="border-bottom: none;">
      <img src="{{ url_for('static', filename='images/favicon.ico')}}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      Mike Freno</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mt-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('home')}}" style="border-bottom: none;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('projects')}}" style="border-bottom: none;">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('blog')}}" style="border-bottom: none;">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('contact')}}" style="border-bottom: none;">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle-end" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: none;">
            {% if logged_in: %}
              <div class="accountImage me-auto">
                {% if user.profile_picture==None %}
                  <img src="{{ user.email | gravatar }}"/><br>
                {% else %}
                  <img src="../{{ user.profile_picture }}" class="accountImageCropped"/><br>
              {% endif %}
              </div>{% endif %}
            {% if not logged_in: %}Account{% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% if not logged_in: %}
            <li><a class="dropdown-item" href="{{url_for('login')}}">Login</a></li>
            <li><a class="dropdown-item" href="{{url_for('register')}}">Register</a></li>
            {% endif %}
            {% if logged_in: %}
            <li><h6 class="dropdown-header">@{{ user.name }}</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('settings')}}">Account Settings</a></li>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>

<div class="container">
  <div class="row">
      {{ ckeditor.load() }}
      {{ ckeditor.config(name='body') }}

      <div class="d-flex justify-content-center" id="page_form">
        <form id='form' action="" method="post" enctype="multipart/form-data" novalidate>
          {{ form.hidden_tag() }}
          <div class="col-16">
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class_="form-control", style_="color:white", id_="title") }}
            </div>
          </div><br>
          <div class="col-16">
            <div class="form-group">
                {{ form.subtitle.label }}
                {{ form.subtitle(class_="form-control", style_="color:white", id_="subtitle") }}
            </div>
          </div><br>
          <div class="col-16">
            <div class="form-group">
                {{ form.cover_photo.label }}
                {{ form.cover_photo(class_="form-control", style_="color:white") }}
            </div><br>
            <div class="form-group" >
              <label for="img">Or Select image from device:</label>
              <input type="file" id="img" name="file" accept="image/*">
            </div>
          </div><br>
          <div class="col-32">
            <div class="form-group" style="width: 60rem;">
                {{ form.body.label }}
                {{ form.body(class_="form-control", id_="body") }}
            </div>
          </div><br>
            <div class="col-3">
              {{ form.submit(class_="btn btn-dark") }}
            </div>
        </form>
      </div>
  </div>
</div>


{% include "footer.html" %}
{% endblock %}