{% include "header.html" %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}" style="border-bottom: none;">
      <img src="{{ url_for('static', filename='images/favicon.ico')}}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      Mike Freno</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mt-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('home')}}" style="border-bottom: none;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{url_for('projects')}}" style="border-bottom: none;">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('blog')}}" style="border-bottom: none;">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('contact')}}" style="border-bottom: none;">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle-end active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-bottom: none;">
            {% if logged_in: %}
              <div class="accountImage me-auto">
                {% if user.profile_picture==None %}
                  <img src="{{ user.email | gravatar }}"/><br>
                {% else %}
                  <img src="{{ user.profile_picture }}" class="accountImageCropped"/><br>
              {% endif %}
              </div>{% endif %}
            {% if not logged_in: %}Account{% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% if not logged_in: %}
            <li><a class="dropdown-item" href="{{url_for('login')}}">Login</a></li>
            <li><a class="dropdown-item" href="{{url_for('register')}}">Register</a></li>
            {% endif %}
            {% if logged_in: %}
            <li><h6 class="dropdown-header">@{{ user.name }}</h6></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('settings')}}">Account Settings</a></li>
            {% if current_user.id==shown_user.id: %}
            <li><a class="dropdown-item active" href="{{url_for('user_page', user_id=current_user.id)}}">My Page</a></li>
            {% else: %}
            <li><a class="dropdown-item" href="{{url_for('user_page', user_id=current_user.id)}}">My Page</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row text-center">
  <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist" >
    {% if shown_user.id == 1 %}
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="blog-projects-tab" data-bs-toggle="tab" data-bs-target="#blog-project-tab-pane" type="button" role="tab" aria-controls="blog-project-tab-pane" aria-selected="true">Blog/Project Posts</button>
    </li>
    {% endif %}
    {% if shown_user.id != 1 %}
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="blog-project-tab-pane" aria-selected="false">Comment History</button>
    </li>
    {% else %}
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments-tab-pane" type="button" role="tab" aria-controls="blog-project-tab-pane" aria-selected="false">Comment History</button>
    </li>
    {% endif %}
  </ul>
  <div class="tab-content" id="myTabContent">
    {% if shown_user.id == 1 %}
    <div class="tab-pane fade show active" id="blog-project-tab-pane" role="tabpanel" aria-labelledby="blog-project-tab" tabindex="0" >
      <h3>Blog Posts</h3>
      {% for post in shown_user.posts %}
        <div class="d-flex justify-content-center">
          <div class="card text-center" style="width: 24rem;">
            <img src="{{post.cover_photo}}" class="card-img-top" alt="cover-photo" style="position: relative;">
            <div class="card-body">
              <h5 class="card-title" style="color:black">{{post.title}}</h5>
              <p class="card-text" style="color:black">{{post.subtitle}}</p>
              <a href="{{url_for('show_post', post_id=post.id)}}" class="btn btn-dark">Take a Look</a>
            </div>
          </div>
        </div><br>
      {% endfor %}
      <hr style="margin-left:4em;margin-right:4em;">
      <h3>Projects</h3>
      {% for project in shown_user.projects %}
        <div class="d-flex justify-content-center">
          <div class="card text-center" style="width: 24rem;">
            <img src="../{{project.cover_photo}}" class="card-img-top" alt="cover-photo" style="position: relative;">
            <div class="card-body">
              <h5 class="card-title" style="color:black">{{project.title}}</h5>
              <p class="card-text" style="color:black">{{project.subtitle}}</p>
              <a href="{{url_for('show_project', proj_id=project.id)}}" class="btn btn-dark">Take a Look</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if shown_user.id !=1 %}
  <div class="tab-pane fade show active" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab" tabindex="1" >
  {% else: %}
  <div class="tab-pane fade" id="comments-tab-pane" role="tabpanel" aria-labelledby="comments-tab" tabindex="1" >
  {% endif %}

    <ul class="commentList">
      {% for comment in shown_user.comments %}
        <li style="margin-left:8em;margin-right:8em;"><hr>
          <div>
            <p>{{ comment.body|safe}}</p></div>
          {% if comment.post_id == None: %}
            <a href="{{url_for('show_project', proj_id=comment.project_id)}}" class="btn btn-dark">Parent Project</a>
          {% else: %}
            <a href="{{url_for('show_post', post_id = comment.post_id)}}" class="btn btn-dark">Parent Post</a>
          {% endif %}
        </li>
      {% endfor %}
      {% if comment_list_length < 1 %}
            <h3>It's quiet....Too Quiet</h3>
      {% endif %}

    </ul>
  </div>
</div>

{% include "footer.html" %}